:root {
  --main-purple: #6a398e;
  --main-purple-hover: #7e44a7;
  --main-light-purple: #bfaacf;
  --main-orange: #fe715f;
  --main-ligth-orange: #ff705f;
  --main-ligth-orange-hover: #ff5f4d;
  --main-ligth-grey: #f2f2f9;
  --main-ligther-grey: #f5f5f5;
  --main-section-grey: #f7f5f9;
  --main-grey: #e7e7e7;
  --main-grey-custom: #dfdfdf;

  --main-green: #00baaa;
  --main-green-darker: #00baab;
  --main-ligth-green: #4ccfc3;
  --main-green-tab: #4dcfc3;
  --main-banner-txt: #3dcabe;
  --txt-purple: #6b398e;
  --txt-grey: #6c6c6c;
  --txt-dark-grey: #4e4e4e;
  --txt-ligther-black: #333333;
  --txt-black: #000;
  --white: #fff;
  --txt-comment: #535353;

  /* Gradient colors geeen-ligth #00BBAB #A5FFF7*/
  /* Gradient colors geeen-ligther #34C8BB #34C8BB2E*/
  /* Gradient colors purple-ligth #1E102800 #6A398E*/
}

* {
  font-family: "IBM Plex Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s linear;
}

.container-xxl {
  max-width: 1440px;
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.bg-purple {
  background: #734595;
}

.bg-gradient-purple {
  background: linear-gradient(to right, #734595, rgba(115, 69, 149, 0.2));
}
.bg-orange {
  background: var(--main-ligth-orange);
}

.bg-gradient-orange {
  background: linear-gradient(
    to right,
    var(--main-ligth-orange),
    rgba(255, 112, 95, 0.2)
  );
}

.bg-green {
  background: var(--main-green-tab);
}

.bg-gradient-green {
  background: linear-gradient(
    to right,
    var(--main-green-tab),
    rgba(77, 207, 195, 0.2)
  );
}
.color-green {
  color: var(--main-banner-txt);
}
.font-family-serif {
  font-family: "IBM Plex Serif", serif;
}
.py-34 {
  padding-top: 34px;
  padding-bottom: 34px;
}
.py-28 {
  padding-top: 28px;
  padding-bottom: 28px;
}
.p-28 {
  padding: 28px;
}

.px-68 {
  padding-left: 68px;
  padding-right: 68px;
}
.fw-600 {
  font-weight: 600;
}
.fw-500 {
  font-weight: 500;
}

.fs-96 {
  font-size: 96px;
}
.fs-80 {
  font-size: 80px;
}
.fs-75 {
  font-size: 75px;
}
.fs-70 {
  font-size: 70px;
}
.fs-65 {
  font-size: 65px;
}
.fs-48 {
  font-size: 48px;
}
.fs-40 {
  font-size: 40px;
}
.fs-32 {
  font-size: 32px;
}
.fs-28 {
  font-size: 28px;
}
.fs-26 {
  font-size: 26px;
}
.fs-24 {
  font-size: 24px;
}
.fs-20 {
  font-size: 20px;
}
.fs-15 {
  font-size: 15px;
}
.fs-12 {
  font-size: 12px;
}

.lh-32 {
  line-height: 32px;
}
.lh-26 {
  line-height: 26px;
}
.lh-20 {
  line-height: 20px;
}

.max-w-891 {
  max-width: 891px;
}
.max-w-780 {
  max-width: 780px;
}
.max-w-603 {
  max-width: 603px;
}
.max-w-300 {
  max-width: 300px;
}

.gradient-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent 30%, #000 100%);
  border-radius: 50px;
}
.gradient-overlay-purple {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, rgba(0, 0, 0, 0), #6a398e);
}

.btn-small {
  display: block;
  border-radius: 10px;
  padding: 12px 32px;
  color: var(--white);
  font-weight: 600;
}

.btn-normal {
  display: block;
  border-radius: 10px;
  padding: 16px 45px;
  color: var(--white);
  font-weight: 600;
}
.btn-small:hover,
.btn-normal:hover {
  color: var(--white);
}
.btn-orange {
  background: var(--main-ligth-orange);
  border: 1px solid var(--white);
}
.btn-orange:hover {
  background: var(--main-ligth-orange-hover);
}
.btn-green {
  background: var(--main-green-darker);
}

.btn-deep-purple {
  background: var(--txt-purple);
}
.btn-deep-purple:hover {
  background: var(--main-purple-hover);
}

.btn-comment {
  position: relative;
  padding: 36px 50px;
  background: var(--main-light-purple);
  display: inline-block;
  border-radius: 10px 10px 0 10px;
  margin: 0;
}
.btn-comment::before {
  content: "";
  position: absolute;
  right: 0;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 87% 100%);
  width: 25px;
  height: 20px;
  background: var(--main-light-purple);
  bottom: -19px;
}

.btn-tab-purple {
  background: #734595;
}
.btn-tab-purple:hover {
  background: #513068;
}
.btn-tab-orange {
  background: #ff705f;
}
.btn-tab-orange:hover {
  background: #e45343;
}
.btn-tab-green {
  background: #4dcfc3;
}
.btn-tab-green:hover {
  background: #3c9e94;
}

/* Header */

/* Top nav */
#top-nav {
  padding: 8px 0;
  border-bottom: 1px solid #d7d7d7;
}
#top-nav a {
  color: var(--txt-grey);
}

#top-nav .p-icon {
  width: 22px;
  height: 21px;
}
#top-nav .e-icon {
  width: 26px;
  height: 20px;
}
#top-nav .u-icon {
  width: 18px;
  height: 19px;
}

#top-nav .social-wraper a:hover,
#top-nav .contacts-wraper a:hover,
#top-nav .faq-wraper a:hover {
  opacity: 0.9;
}
#top-nav .prisijungimas-wraper a {
  color: var(--txt-ligther-black);
}

#top-nav .faq-wraper a {
  color: var(--txt-dark-grey);
}

#top-nav .language-english {
  position: absolute;
  padding: 0 10px;
  top: 23px;
  left: 6px;
  background: var(--white);
}

/* Middle nav */
/* Search bar */
#middle-nav .search-bar {
  border-radius: 42px 0 0 42px;
  background: var(--main-ligther-grey);
  border: none;
  padding: 16px 48px;
}
#middle-nav .search-bar::placeholder {
  color: #919191;
  font-size: 24px;
  font-weight: 500;
}
#middle-nav .search-bar:focus,
#middle-nav #search-btn:focus {
  box-shadow: 0 0 0 0.25rem rgba(106, 57, 142, 0.6);
}
#middle-nav #search-btn:focus {
  z-index: 2;
  border: none;
  outline: none;
}
#middle-nav #search-btn {
  width: 90px;
  border-radius: 0 42px 42px 0;
  background: var(--main-purple);
  border: none;
  padding: 13px 29px;
  z-index: 2;
}
#middle-nav #search-btn:hover {
  background: var(--main-purple-hover);
}

#middle-nav .paskyra-txt-wraper,
#middle-nav .paskyra-txt-wraper a,
#middle-nav .paskyra-txt-wraper a:visited {
  color: var(--txt-ligther-black);
}

#middle-nav .paskyra-txt-wraper a:hover {
  color: var(--txt-black);
}

#middle-nav .user-cart-wraper .user-icon {
  max-width: 40px;
}

#middle-nav .user-cart-wraper .product-count {
  position: absolute;
  top: -5px;
  right: -10px;
  width: 25px;
  height: 25px;
  background: var(--main-purple);
  border-radius: 50%;
  color: var(--white);
  text-align: center;
}
#middle-nav .user-cart-wraper:hover .product-count {
  background: var(--main-purple-hover);
}
#middle-nav .user-cart-wraper .cart-wraper {
  cursor: pointer;
}
#middle-nav .user-cart-wraper .cart-wraper:hover svg path {
  fill: var(--txt-dark-grey);
}

#bottom-nav {
  background: #f2f2f9;
}
.navbar a {
  color: var(--txt-dark-grey) !important;
}
.navbar a:hover {
  color: var(--txt-purple) !important;
}
.navbar a.link.active {
  color: var(--txt-purple) !important;
}

/* Category navigation */
.category-nav {
  background: var(--main-grey);
}
.category-navigation {
  padding: 15px 12px;
}
.category-navigation li:last-child .cat-arrow {
  display: none;
}

.category-navigation li a {
  color: var(--txt-black);
}
.category-navigation li a:hover {
  opacity: 0.8;
}

/* Hamburger menu */

.hamburger-menu-toggle-wraper {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.hamburger-menu-toggle-wraper .ham-line {
  position: relative;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background: var(--txt-ligther-black);
}

.hamburger-menu-toggle-wraper .ham-line::before,
.hamburger-menu-toggle-wraper .ham-line::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background: var(--txt-ligther-black);
}
.hamburger-menu-toggle-wraper .ham-line::before {
  top: -10px;
}

.hamburger-menu-toggle-wraper .ham-line:after {
  top: 10px;
}

/* Hero section */

/* Hero slider */

.hero-slider .swiper {
  position: relative;
  z-index: 0;
}

/* Single slide */
.slide-content {
  max-width: 1440px;
  margin: auto;
}
.hero-slider .swiper-slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, var(--main-purple), rgba(0, 0, 0, 0));
  pointer-events: none;
  z-index: 2;
}
.hero-slider .slide-img {
  width: 100%;
  height: 100%;
  height: 685px;
  object-fit: cover !important;
  position: relative;
  z-index: 1;
}

.hero-slider .slide-text {
  position: absolute;
  max-width: 1440px;
  width: 100%;
  display: block;
  padding: 0 68px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.hero-slider .txt-highlight {
  z-index: 1;
}
.hero-slider img.txt-highlight-img,
#hero-img img.txt-highlight-img {
  position: absolute !important;
  width: 363px;
  left: -10px;
  bottom: -47px;
  z-index: -1;
}
#hero-img.single-category img.txt-highlight-img {
  width: 120%;
  z-index: -1;
}
#hero-img img.txt-highlight-img {
  z-index: -1;
}

/* Slider buttons */
.hero-slider .swiper-btn-wraper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
  z-index: 10;
}

.hero-slider .swiper-button-prev,
.hero-slider .swiper-button-next,
.hero-slider .swiper-scrollbar {
  pointer-events: all;
  color: white;
  width: 26px;
  height: auto;
  z-index: 11;
  font-size: 24px;
}
.hero-slider .swiper-button-prev {
  left: 12px;
}
.hero-slider .swiper-button-next {
  right: 12px;
}

/* Slider dots */

.hero-slider .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: var(--white);
  opacity: 1;
}
.hero-slider .swiper-pagination-bullet {
  background: var(--white);
  opacity: 0.6;
}

/* Hero img section */
#hero-img {
  height: 680px;
}
#hero-img h2 {
  z-index: 1;
}
#hero-img .gradient-overlay-purple {
  width: 70%;
}

.hero-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Kodel mes section */

/* Kreiptis orannge bar section */
#kreiptis-orange-bar {
  padding-top: 60px;
}
/* Atsiliepimai section */
#comments {
  padding: 60px 0;
}
.kreiptis-bar {
  background: var(--main-ligth-orange);
  border-radius: 10px;
  padding: 15px 50px;
}

#comments .btn-comment {
  color: var(--txt-purple);
}

.comments-wraper {
  color: var(--txt-comment);
  padding-top: 40px;
}

.comments-wraper .img-quote {
  position: absolute;
}
.comments-wraper .img-avatar {
  margin-top: 45px;
  width: 152px;
  margin-left: 33px;
  height: 152px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top center;
}

/* Musu paslaugos section */

#musu-paslaugos {
  padding: 60px 0 80px 0;
  background: var(--main-section-grey);
}

#musu-paslaugos img.txt-highlight-img {
  position: absolute;
  left: -27px;
  bottom: -50px;
  width: 423px;
}

#musu-paslaugos h2 {
  margin-bottom: 120px;
}

#musu-paslaugos .card {
  border-radius: 25px 25px 0 25px;
  border: none;
}
#musu-paslaugos .card img {
  border-radius: 25px 25px 0 0;
  height: 332px;
  object-fit: cover;
  object-position: top center;
}

#musu-paslaugos .card-body {
  background: var(--main-light-purple);
  border-radius: 0 0 0px 25px;
  padding: 30px 50px 30px 50px;
  color: var(--txt-purple);
}

#musu-paslaugos .card-body::before {
  content: "";
  position: absolute;
  right: 0;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 87% 100%);
  width: 25px;
  height: 20px;
  background: var(--main-light-purple);
  bottom: -19px;
}

/* Musu klientai */
#musu-klientai {
  padding: 60px 0;
}
#musu-klientai .musu-klientai-banner {
  height: 692px;
}

#musu-klientai .musu-klientai-banner .banner-content {
  margin-bottom: 45px;
}
#musu-klientai .banner-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  border-radius: 50px;
}
#musu-klientai .banner-txt {
  font-size: 34px;
  line-height: 48px;
}
#musu-klientai .banner-txt .fs-65 {
  line-height: 79px;
}
#musu-klientai .musu-klientai-banner .txt-highlight {
  z-index: 1;
}
#musu-klientai .musu-klientai-banner .txt-highlight img {
  position: absolute;
  left: -21px;
  top: -39px;
  display: block;
  width: 162px;
  z-index: -1;
}

/* Musu klientai logo */
#musu-klientai .klientai-wraper {
  margin-bottom: 77px;
}
#musu-klientai .klientai-wraper .orange-highligth {
  position: absolute;
  left: -16px;
  bottom: -35px;
  width: 331px;
}

#brands {
  margin-top: 60px;
}
#brands .swiper-wrapper {
  align-items: center;
}
#brands .swiper-slide {
  max-height: 90px;
}
#brands .swiper-slide img {
  object-fit: contain;
  width: 100%;
}

/* Footer */

footer {
  background: var(--txt-purple);
  padding: 120px 0 36px;
}

footer .kreiptis-footer-bar {
  border-radius: 10px;
  padding: 35px 50px;
  background: linear-gradient(to right, #00bbab, #a5fff7);
  max-width: 1440px;
  width: 100%;
  position: absolute;
  left: 50%;
  top: -77px;
  transform: translateX(-50%);
}

footer .bar-btn {
  padding: 12px 62px;
  background: linear-gradient(to right, #cc68f0, #8c3aaa);
  border-radius: 13px;
  color: var(--white);
}
footer .bar-btn:hover {
  box-shadow: 0 0 2px 5px rgba(140, 58, 170, 0.2);
}

footer .footer-main-content {
  padding-bottom: 140px;
}
footer .footer-social a:hover,
footer .footer-contacts a:hover,
footer ul a:hover {
  opacity: 0.7;
  color: var(--white);
}
footer .footer-contacts a {
  color: var(--white);
}

footer .footer-contacts .img-wraper {
  width: 38px;
}
footer ul a {
  color: var(--white);
}

/* Kategorijos puslapis - Categories section */

#categories,
#posts {
  padding: 60px 0 100px 0;
}
.category {
  background: linear-gradient(to right, #34c8bb, rgba(52, 200, 187, 0.2));
  border-radius: 25px 25px 0 25px;
  margin-bottom: 30px;
}

.category .img-wraper,
.category .category-content,
.post .img-wraper,
.post .post-content {
  flex: 1;
}
.category .img-wraper {
  height: 238px;
  overflow: hidden;
}
.category .img-wraper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
  border-radius: 25px;
}

.category .category-logo {
  position: absolute;
  z-index: 2;
  right: -25px;
  top: 38px;
}
.category .comment-tail {
  position: absolute;
  background: linear-gradient(to right, #34c8bb, rgba(52, 200, 187, 0.2));
  width: 100%;
  height: 30px;
  bottom: -30px;
  left: 0;
}

.category .comment-tail:before {
  content: "";
  position: absolute;
  width: 40px;
  height: 31px;
  clip-path: polygon(0 0, 69% 0, 93% 100%, 0 100%);
  background: #fff;
  bottom: -1px;
  right: 5px;
}
.category .comment-tail:after {
  content: "";
  position: absolute;
  width: calc(100% - 43px);
  height: 31px;
  background: #fff;
  bottom: -1px;
  left: -1px;
}
.category .img-wraper {
  width: 100%;
}
.category .img-wraper img {
  object-fit: cover;
}

.category h5 {
  color: var(--main-purple);
  z-index: 3;
}

/* Kategorija puslapis - posts section */
.post {
  border-radius: 25px;
  background: linear-gradient(to right, #8860a4, rgba(136, 96, 164, 0.2));
}
.post .img-wraper {
  border-right: 13px solid var(--main-ligth-orange);
  max-height: 320px;
  position: relative;
  overflow: hidden;
}
.post .img-wraper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
  border-radius: 25px 0 0 25px;
}
.post .post-content {
  padding: 20px 40px;
}

/* Apie kursus section */
#apie-kursus .content-wraper {
  padding-bottom: 55px;
}
#apie-kursus .nemokas-testas {
  margin-bottom: 135px !important;
}
#apie-kursus .nemokas-testas.btn-comment,
#apie-kursus .nemokas-testas.btn-comment::before {
  background: var(--main-ligth-orange) !important;
}

#apie-kursus .btn-comment {
  padding: 42px 64px;
}

#apie-kursus .man-img {
  position: absolute;
  bottom: 0;
  right: calc(50% - 385px);
  transform: translateX(50%);
}
#apie-kursus h2 {
  color: var(--main-purple);
}
#apie-kursus .txt-highlight-img {
  position: absolute;
  left: -19px;
  bottom: -35px;
}

/* Kursai section */
#kursai .tabs {
  margin-top: 40px;
}
#kursai .tabs-wraper .nav-link {
  font-family: "IBM Plex Serif", serif;
  font-style: italic;
  font-size: 70px;
  color: var(--white);
  border-radius: 25px 0 0 25px;
  padding: 20px;
  line-height: 1;
  transition: all 0.2s linear;
  position: relative;
  z-index: 1;
}
#kursai .tabs-wraper .nav-link.active {
  transform: scale(1.1);
}
#kursai .tabs-wraper .nav-link:hover {
  transform: scale(1.1);
  transition: all 0.2s linear;
}
.tab-pane {
  position: relative;
  border-radius: 25px;
  z-index: 2;
}
.tab-content-wraper {
  padding: 32px;
}
.tab-content,
.tab-content-info {
  flex: 1;
}

.tab-content-wraper .img-wraper {
  max-width: 420px;
  min-height: 520px;
  overflow: hidden;
}

.tab-content-wraper .img-wraper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  border-radius: 25px;
}
.tab-content-txt-wraper p {
  gap: 10px;
}

.tab-content-txt-wraper span {
  flex: 1;
}
/* Media queries */
@media (max-width: 1440px) {
  footer .kreiptis-footer-bar {
    left: 0;
    right: 0;
    transform: none;
    margin: 0 12px;
    width: calc(100% - 24px);
  }
}
@media (max-width: 1200px) {
  #middle-nav .logo-wraper img {
    max-width: 200px;
  }
  #middle-nav .search-bar {
    padding: 12px 32px;
  }
  #middle-nav .paskyra-wraper .user-icon {
    max-width: 30px;
  }
  #middle-nav .paskyra-wraper .paskyra-txt-wraper .fs-20 {
    font-size: 16px;
  }
  #middle-nav .paskyra-wraper .paskyra-txt-wraper .lh-26 {
    line-height: 18px;
  }
  #middle-nav .paskyra-wraper .paskyra-txt-wraper .fs-15 {
    font-size: 14px;
  }
  #middle-nav .paskyra-wraper .paskyra-txt-wraper .lh-20 {
    line-height: 14px;
  }
  .navbar a {
    font-size: 14px;
  }
  #hero .slide-img {
    min-height: 500px;
  }
  #bottom-nav.py-28 {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  #kreiptis-orange-bar .kreiptis-bar .fs-32 {
    font-size: 24px;
  }
  .btn-small.fs-26 {
    font-size: 20px;
  }
  #musu-paslaugos .card-body .fs-40 {
    font-size: 32px;
  }
  footer .fs-40 {
    font-size: 32px;
  }
  .post .img-wraper {
    max-height: 100%;
  }
  .tab-content-txt-wraper p span:first-child {
    font-weight: 700;
    font-size: 18px;
  }
}
@media (max-width: 1100px) {
  #apie-kursus .nemokas-testas {
    margin-bottom: 280px !important;
  }
  #apie-kursus .man-img {
    right: calc(50% - 162px);
  }
}
@media (max-width: 992px) {
  .navbar a {
    font-size: 12px;
  }
  .hero-slider .fs-96 {
    font-size: 72px;
  }
  .hero-slider img.txt-highlight-img,
  #hero-imd img.txt-highlight-img {
    width: 276px;
    bottom: -34px;
  }

  .hero-slider .swiper-btn-wraper {
    display: block;
  }
  #comments .fs-75 {
    font-size: 60px;
  }

  #musu-paslaugos .card-body {
    padding: 30px;
  }

  #musu-paslaugos .card-body .fs-28 {
    font-size: 24px;
  }
  footer .footer-logo img {
    max-width: 239px;
  }
  footer .footer-social img {
    max-width: 36px;
  }
  footer .footer-contacts .img-wraper img {
    max-width: 30px;
  }
  footer .fs-24 {
    font-size: 18px;
  }
  .category .fs-48 {
    font-size: 34px;
  }
  .category .fs-28 {
    font-size: 22px;
  }

  #apie-kursus .nemokas-testas {
    margin-bottom: 185px !important;
  }
  .tab-content-wraper .img-wraper {
    max-width: 100%;
    max-height: 420px;
    border-radius: 25px;
  }
  #kursai .bg-gradient-purple {
    background: linear-gradient(to bottom, #734595, rgba(115, 69, 149, 0.2));
  }
  #kursai .bg-gradient-orange {
    background: linear-gradient(
      to bottom,
      var(--main-ligth-orange),
      rgba(255, 112, 95, 0.2)
    );
  }
  #kursai .bg-gradient-green {
    background: linear-gradient(
      to bottom,
      var(--main-green-tab),
      rgba(77, 207, 195, 0.2)
    );
  }
  #kursai .container-xxl {
    padding: 0;
  }
  #kursai .tab-pane {
    border-radius: 0;
  }
  #kursai .tabs-wraper {
    border-radius: 0;
  }
  #kursai .tabs {
    margin-top: -110px;
    margin-left: 12px;
  }
  #kursai .tabs-wraper .nav-link {
    border-radius: 25px 25px 0 0;
    padding: 10px 30px;
  }
  #apie-kursus .content-wraper {
    padding-bottom: 160px;
  }
}
@media (max-width: 768px) {
  #middle-nav .logo-wraper img {
    max-width: 134px;
  }
  #middle-nav .user-cart-wraper svg {
    max-width: 28px;
  }
  #middle-nav .user-cart-wraper .product-count {
    width: 18px;
    height: 18px;
    font-size: 12px;
    top: 0;
    right: -5px;
  }
  #bottom-nav {
    position: absolute;
    top: -100vh;
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    z-index: 1000;
  }
  #bottom-nav.py-28 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .hero-slider .slide-img {
    height: 394px;
  }
  #hero-img {
    max-height: 484px;
  }
  #hero-img .hero-image {
    object-position: 70% 60%;
  }

  .hero-slider .slide-text h2.fs-96,
  #hero-img .fs-96,
  #hero-img.single-category .fs-96 {
    font-size: 48px;
    max-width: 295px;
  }
  #hero-img .px-68 {
    padding-left: 40px;
    padding-right: 40px;
  }
  .hero-slider .txt-highlight,
  #hero-img .txt-highlight {
    font-weight: 300;
  }
  .hero-slider .txt-highlight-mobile,
  #hero-img .txt-highlight-mobile {
    font-weight: 600;
    position: relative;
  }
  .hero-slider img.txt-highlight-img-mobile,
  #hero-img img.txt-highlight-img-mobile {
    position: absolute;
    left: 5px;
    bottom: -26px;
    width: 165px;
  }
  #hero-img.single-category img.txt-highlight-img-mobile {
    width: 100%;
    bottom: -47px;
    z-index: -1;
  }
  .hero-slider .slide-text p.fs-24,
  #hero-img p.fs-24.max-w-780 {
    font-size: 16px;
    font-weight: 400;
    max-width: 295px;
  }
  .hero-slider .slide-text {
    padding: 0 32px;
  }

  .hero-slider .swiper-btn-wraper {
    display: none;
  }
  .kreiptis-bar {
    padding: 25px 50px;
  }

  .comments-wraper .img-avatar {
    margin: 0;
  }
  .comments-wraper .comment-content {
    margin-top: -30px;
  }
  #musu-paslaugos .fs-80,
  #musu-klientai .fs-80 {
    font-size: 60px;
  }
  #musu-klientai .musu-klientai-banner .txt-highlight img {
    left: -36px;
    top: -36px;
    width: 110px;
  }

  #musu-klientai .container-xxl {
    padding: 0;
  }
  #musu-klientai .banner-img,
  #musu-klientai .musu-klientai-banner {
    border-radius: 0;
    height: 355px;
  }
  #musu-klientai .gradient-overlay {
    border-radius: 0;
  }
  #musu-klientai .musu-klientai-banner .txt-highlight img {
    left: -25px;
    top: -22px;
    width: 70px;
  }
  #musu-klientai .banner-content .fs-65 {
    font-size: 40px;
    line-height: 50px;
  }
  #musu-klientai .banner-txt {
    font-size: 24px;
    line-height: 34px;
  }
  #musu-klientai .max-w-780 {
    max-width: 480px;
  }
  #musu-klientai .orange-highligth {
    display: none;
  }
  #musu-klientai .orange-highligth-mobile {
    position: absolute;
    left: 0;
    bottom: -40px;
    width: 103%;
  }
  footer .kreiptis-footer-bar {
    padding: 30px;
    top: -60px;
  }
  footer .fs-40 {
    font-size: 24px;
  }

  #categories,
  #posts {
    padding: 60px 0 80px 0;
  }
  .category .img-wraper,
  .category .img-wraper img {
    max-height: 400px;
  }
  .category .category-logo {
    width: 120px;
    top: calc(100% - 160px);
  }
  .category .fs-48 {
    font-size: 34px;
  }
  .category .fs-28 {
    font-size: 22px;
  }
  #posts .container-xxl {
    padding: 0;
  }
  .post {
    border-radius: 0;
  }
  .post {
    background: linear-gradient(to bottom, #8860a4, rgba(136, 96, 164, 0.2));
  }
  .post .img-wraper {
    padding: 16px 12px 0 12px;
    border-right: none;
    border-bottom: 13px solid var(--main-ligth-orange);
  }
  .post .img-wraper img {
    border-radius: 25px 25px 0 0;
  }
  .post .post-content {
    padding: 12px 18px 34px 12px;
  }
  #posts .btn-small {
    font-size: 24px;
  }
  #posts .btn-small.fw-bold {
    font-weight: 500 !important;
  }
  #apie-kursus .nemokas-testas {
    margin-bottom: 80px !important;
  }
  #apie-kursus .man-img {
    right: 85px;
    max-width: 174px;
  }
  #apie-kursus .txt-highlight-img {
    width: 130%;
    bottom: -25px;
  }
  #apie-kursus .fs-70 {
    font-size: 45px;
  }
}

@media (max-width: 576px) {
  #kreiptis-orange-bar .kreiptis-bar {
    padding: 16px 20px;
  }
  #kreiptis-orange-bar .kreiptis-bar .fs-32 {
    font-size: 15px;
  }
  .btn-small {
    font-size: 14px;
  }
  #comments .btn-comment {
    display: block;
    padding: 14px 28px;
  }
  #comments .fs-75 {
    font-size: 48px;
  }

  .comments-wraper .comment-content {
    margin-top: -20px;
  }
  .comments-wraper .img-avatar {
    width: 138px;
    height: 138px;
  }
  .comments-wraper .img-quote {
    width: 41px;
    top: 80px;
  }
  .comments-wraper .comment-user.fs-40 {
    font-size: 24px;
  }
  .comments-wraper .comment-title.fs-32 {
    font-size: 16px;
  }
  .comments-wraper .fs-24 {
    font-size: 15px;
  }
  .comments-wraper .lh-32 {
    font-size: 15px;
    line-height: 20px;
  }
  #musu-paslaugos .card-body .fs-28 {
    font-size: 16px;
  }
  #comments {
    padding-bottom: 30px;
  }
  #musu-paslaugos {
    padding-top: 30px;
    padding-bottom: 60px;
  }
  #musu-paslaugos .fs-80,
  #musu-klientai .fs-80 {
    font-size: 40px;
  }
  #musu-paslaugos img.txt-highlight-img {
    position: absolute;
    left: -95px;
    bottom: -30px;
    width: 276px;
  }
  #musu-paslaugos .card img {
    height: 280px;
  }

  #musu-klientai .musu-klientai-banner .txt-highlight::before {
    left: -25px;
    top: -26px;
    width: 74px;
    height: 67px;
  }
  #musu-klientai .banner-content .fs-65 {
    font-size: 24px;
    line-height: 32px;
  }
  #musu-klientai .banner-txt {
    font-size: 16px;
    line-height: 24px;
  }
  #musu-klientai .max-w-780 {
    max-width: 300px;
  }
  #musu-klientai .orange-highligth-mobile {
    bottom: -27px;
  }
  #brands {
    margin-top: 40px;
  }
  footer {
    padding-top: 80px;
    padding-bottom: 20px;
  }
  footer .footer-main-content {
    padding-bottom: 48px;
  }
  footer .bar-btn {
    padding: 12px;
  }
  footer .kreiptis-footer-bar {
    padding: 12px;
    top: -39px;
  }
  footer .fs-40 {
    font-size: 20px;
  }
  footer .bar-btn.fs-40 {
    font-size: 15px;
  }
  footer .footer-social img {
    max-width: 25px;
  }
  footer .footer-contacts .img-wraper img {
    max-width: 24px;
  }
  footer .fs-24 {
    font-size: 16px;
  }
  .category .img-wraper,
  .category .img-wraper img {
    max-height: 175px;
  }
  .category .category-logo {
    width: 68px;
    top: calc(100% - 90px);
    right: -15px;
  }
  .category .fs-48 {
    font-size: 28px;
  }
  .category .fs-28 {
    font-size: 20px;
  }
  .category.p-28 {
    padding: 20px;
  }
  #apie-kursus .btn-comment {
    padding: 24px;
  }

  #apie-kursus .fs-48 {
    font-size: 32px;
  }
  #apie-kursus .txt-highlight-img {
    width: 140%;
    left: -5px;
    bottom: -15px;
  }
  #apie-kursus .fs-70 {
    font-size: 28px;
  }
  #apie-kursus .content-wraper {
    padding-bottom: 140px;
  }
  #kursai .tabs-wraper .nav-link {
    font-size: 48px;
  }
  #kursai .tab-content-wraper {
    padding: 16px 12px 24px 12px;
  }
  #kursai .tab-content-wraper .img-wraper,
  #kursai .tab-content-wraper .img-wraper img {
    max-height: 200px !important;
    min-height: 100%;
  }
  #kursai .tab-content-txt-wraper .fs-40 {
    font-size: 32px;
  }
  #kursai .tab-content-txt-wraper p span:first-child,
  #kursai .tab-content-txt-wraper p {
    font-size: 16px;
  }
  #kursai .tab-content-info .btn-normal.fs-28 {
    font-size: 15px;
    padding: 12px 32px;
  }
}
